/* xnat-table style enhancements */
.xnat-table tr th:first-of-type {
    text-align: left;
}
.panel-table-container {
    border: 1px solid #ccc;
    width: inherit;
}
.panel-table-container .xnat-table {
    border: none;
}

/* specific table cells */
.dataset-definition-description {
    text-overflow: ellipsis;
}
.table-summary {
    font-weight: bold;
}
.first-cell {
    font-weight: bold;
}

/* icon statuses */
.fa.success {
    color: #339933;
}
.fa.failed {
    color: #CCC;
}